<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/write.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <% if( BVO ) { %>
            <div><label>Writer</label><input name="b_writer" id="b_writer" type="text" value="<%- BVO.b_id %>"></div>
        <% } else if ( BVO == null ) { %>
            <div><label>Writer</label><input name="b_writer" id="b_writer" type="text"></div>
            <div><label>Date</label><input name="b_date" id="b_date" type="text"></div>
            <div><label>Time</label><input name="b_time" id="b_time" type="text"></div>
            <div><label>Subject</label><input name="b_subject" id="b_subject" type="text"></div>
            <div><label>Content</label>
                <textarea name="b_text" id="b_text"></textarea>
            </div>
            <button id="btn_save">SAVE</button>
        <% } %>
    </form>
</body>
<script>
</script>
</html>