<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link href="/css/form.css" rel="stylesheet"/>
        <title>Write</title>
    </head>
    <body>
        <form class="bbs_" method="POST">
            <div><label>Writer</label><input name="b_writer" id="b_writer" type="text"></div>
            <div><label>Date</label><input name="b_date" id="b_date" type="text" value="<%- BBS.b_date %>"></div>
            <div><label>Time</label><input name="b_time" id="b_time" type="text" value="<%- BBS.b_time %>"></div>
            <div><label>Subject</label><input name="b_subject" id="b_subject" type="text"></div>
            <div><label>Content</label><input name="b_text" id="b_text" type="text"></div>
            <div class="btn_box">
                <button>SAVE</button>
            </div>
        </form>
    </body>
</html>