extends layout

block content
	section#main 
		article.pos
			for i in [1,2,3,4,5,6,7,8,9]
				if i%3 === 1
					div.trow
						for j in [0,1,2]
							div.tdata #{i+j}		
	script.
		//- document.querySelector("table.bbs_list")
		//- .addEventListener("click",(e)=>{
			//- const td = e.target 
			//- if(td.tagName === "TD") {
				//- const tr = td.parentNode
				//- const b_id = tr.dataset.id 
				//- document.location.href=`/bbs/detail?b_id=${b_id}`
			//- }						
		//- })
		//- document.querySelector("button.btn_write")
		//- .addEventListener("click", (e)=> {
				//- document.location.href=`/bbs/write`
		//- })
