html(lang="ko") 
	head
		title 김천국밥
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		link(rel="stylesheet",href="/css/main.css")
	body
		header 
			h1 김천국밥 매장용 POS
			p 우리동네 김천국밥의 매장용 POS System 입니다

		block content

		footer 
			address CopyRight &copy;