extends layout

block content
	script(src="/js/table.js")
	style.
		section.main {
			display:flex;
			flex-wrap:wrap;

			justify-content:center;
			align-items:center;
		}
		div.table {
			width:200px;
			height:100px;
			border:1px solid #d55;
			border-radius:10px;
			margin:10px;

			text-align:center;
			line-height:100px;

			background-color:#f05555;
			color:white;
			font-weight:bold;
			font-size:20px;
			cursor:pointer;
		}

		div.table:hover{
			box-shadow : 0px 0px 3px #c44;
		}
	- for(let i = 0; i < 11; i++)
		div.table(data-table_id= i+1) !{i+1}번 테이블