doctype html
html
	head
		title 우리동네 김밥천국
		style.
			* {
				box-sizing : border-box;
				margin:0;
				padding:0;
			}

			body {
				width:100vw;
				height:100vh;
				display:flex;
				flex-flow:column;
			}

			header {
				width:100vw;
				padding:1rem;
				background-color:#ee5f0f;
				color:white;
				text-shadow :1px 1px 1px black;
				text-align: center;
			}

			section.main {
				border:2px solid #ee5f0f;
				margin:7px;
				flex:1;
			}

			footer {
				background-color:black;
				color:white;
				text-align: center;
				padding:0.5rem;
			}

	body
		header
			h1 김밥천국 2021
			
		section.main
			block content

		footer
			address CopyRight &copy;sk421120@naver.com